
@font-face {
    font-family: "Gotham";
    src: url("../font/GothamBold.ttf");
}
.border_test{
    border: 1px solid
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
h1{
    font-family: "Gotham" , sans-serif;
}
h2{
    font-size: 38px;
    margin: 20px 0;
    color: #E30D73;
    font-weight: bold;
    font-family: "Gotham", sans-serif;
}
h3{
    font-size: 22px;
    line-height: 24px;
}
p {
    font-size: 18px;
    line-height: 30px;
    font-family: "Nunito", sans-serif
}



.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    /* border: 1px dashed red */
    /* align-items: center; */
    /* flex-direction: column */
}
#landing {
    position: relative;
    height: 100vh;
    min-height: 668px;
    max-height:  1080px;
    display: flex;
}

#landing .container{
    display: flex;
    /* align-items: center; */
    /* flex-direction: column */
}

.landing-logo{
    position: absolute;
    top:20px;
    left: 20px;
    width: 300px;
    z-index: 1;
}
.landing-logosmall{
    display: none;
}
.landing-shape{
    width: 70%;
    max-width: 4000px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -3;
}
.landing-logosmall {
    width: 100px;
    position: absolute;
    left: 20px;
    top: 20px;
    display: none;
}

.landing-bloc{
    margin: auto ;
    width: 1200px
}
.landing-title{
    padding-top: 200px;
    max-width: 990px;
    width: 70%;
    font-size: 38px;
    line-height: 42px;
    text-align: left;
    color: #D13272;
    font-weight: bold;
    font-family: "Gotham", sans-serif;
}
.landing-description{
    /* font-weight: 500; */
    font-size: 23px;
    margin-top: 80px;
    z-index: 2;
}
.landing-form {
    margin-top: 50px;
}
.landing-form__submit {
    position: absolute;
    top: 7px;
    right: 3px;
    width: 180px;
    height: 65px;
    border-radius: 10px;
    background: #E30D73;
    border: 0px;
    z-index: 33;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 1s all;
}
.landing-group {
    display: flex;
    align-items: flex-end;
    position: relative;
    /* border: 1px solid; */
    max-width: 570px;
}
input:read-write {
    color: black;
    font-size: 20px;
    padding-left: 20px;
}
.landing-form__input {
    width: 100%;
    max-width: 570px;
    height: 70px;
    background: white;
    border: 0px;
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: -1px 1px 37px -5px rgba(206, 206, 206, 0.75);
    position: relative;
    z-index: 30;
}

.landing-form__input::placeholder {
    color: grey;
    vertical-align: middle;
    font-size: 16px;
}
.landing-arrowsmall {
    width: 80px;
    position: absolute;
    bottom: 15px;
    /* top: 90%; */
    left: 49%;
    animation: fade 1s ease-out infinite;
    cursor: pointer;
    display: none;
    z-index: 5;
}
.landing-arrow {
    width: 80px;
    position: absolute;
    bottom: 15px;
    /* top: 90%; */
    left: calc(50vw - 40px);
    animation: fade 2s ease-in-out infinite;
    cursor: pointer;
    z-index: 5;
}
@keyframes fade {
    from {
        bottom: 20px;
    }

    50% {
        bottom: 10px;
    }

    to {
        bottom: 20px;
    }
}
.mc-field-group{
    max-width: 570px;
    width: 100%;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
#tools {
    padding: 50px 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.tools-card {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 10px;
}
.tools-card__title {
    /* font-size: 40px; */
    /* margin-left: 40px; */
    margin-top: 0;
    margin-bottom: 20px;
    color: #E30D73;
}
.tools-card__article {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tools-card__article--img {
    width: 450px;
    border-radius: 5px;
}
.tools-card__article--desc {
    font-size: 18px;
    margin: 0 0 0 40px;
    line-height: 30px;
}
.fonctionnality-head {
    height: 30%;
    /* margin-top: 60px; */
}
.fonctionnality-block {
    padding: 20px 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.fonctionnality-item {
    width: 300px;
    max-width: 300px;
    background: white;
    height: 450px;
    padding: 40px 15px 20px;
    text-align: center;
    border-radius: 10px;
}
.fonctionnality-item__img {
    width: 200px;
    /*margin-bottom: 20px;*/
    margin: auto;
}
#fonctionnality h3 {
    margin-top: 20px;
    margin-bottom: 1.5em;
}
#fonctionnality p {
    line-height: 30px;
    /* margin-top: 65px; */
}
.slick-content {
    display: none;
}

/* ****JEREM*** */

.slick-initialized .slick-slide {
    margin: 20px 5px;
}
footer {

    background-image: linear-gradient(to left, #e32749, #e30d73);
    padding: 15px 0 0;
}
footer .footer-info li {
    color: #fff;
}
footer ul{
    margin: 0;
    padding:0;
    list-style: none;
}
footer ul li{
    margin: 2px 0;
}
footer ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
footer p{
    /* margin-top: 30px; */
    margin-bottom: 0;
    color:#fff;
    font-size: 12px;
}
footer .container{
    display: flex;
    justify-content: space-between;
}
.footer-icons{
    width: 200px;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.footer-icons img {
    width: 20px;
}
footer a:hover {
    color: #fff;
    text-decoration: underline;
}

/******* RESPONSiVE *******/
@media screen and (max-width :1200px){
    .container{
        padding: 0 30px;
    }
}

@media screen and (max-width :1000px) {
    .landing-title {
        width: 70%;
    }

    /* ********* */
    .tools-card__article--img {
        max-width: 400px;
        min-width: 300px;
        width: 100%;
    }
    .tools-card__article--desc {
        font-size: 18px;
        margin: 0 0 0 40px;
        line-height: 30px;
    }
}

@media screen and (max-width:980px) {
    .fonctionnality-block {
        display: none;
    }
    .fonctionnality-item{
        border: 1px solid lightgray;
    }
    .slick-content {
        display: block;
        overflow: hidden;
        margin: 30px 0;
    }
}

@media screen and (max-width:768px) {
    h2 {
        font-size: 26px;
        margin: 20px 0;
        color: #E30D73;
        font-weight: bold;
    }
    p {
        font-size: 19px;
        line-height: 26px;
    }
    .landing-group {

        max-width: unset;
    }

    .landing-title {
        padding-top: 0px;
        font-size: 38px;
        line-height: 40px;
        text-align: left;
        width: 100%;
        color: #fff;
        max-width: unset;
    }
    .landing-bloc {
        /* border: 1px solid; */
        margin: auto;
        width: 100%;
    }
    .landing-description {
        color: #fff;
    }
    .landing-logo{
        display: none;
    }
    .landing-shape{
        display: none;
    }
    .landing-logosmall{
        display: block;
    }
    #landing {
        background-image: linear-gradient(to left, #e32749, #e30d73);
    }
    .landing-arrow {
        display: none!important;
    }
    .landing-arrowsmall {
        display: block;
        bottom: 30px;
        left: calc(50vw - 40px);
    }
    .landing-form__input {
        width: 100%;
    }
    .clear{
        width: 0;
        overflow: hidden;
    }
    .mc-field-group {
        max-width: unset;
        text-align: center;
    }
    .landing-form__submit {
        position: unset;
        top: 8px;
        right: 4px;

        background: #fff;


        color: #E30D73;
        margin-top: 30px
    }
    .landing-form__submit:hover{
        background: transparent;
        border: 2px solid white;
        color: white;
    }
    input:read-write {
        max-width: 100%;
        font-size: 16px;
    }
    #plateform{
        padding: 20px 0;
    }
    #tools {
        padding: 30px 0 30px;

    }
    .tools-card__article {

        flex-flow: column-reverse;
    }
    .tools-card__article--desc {
        margin: 0 0 20px 0px;
    }
    .tools-card__article--img {
        max-width: unset;
        min-width: 300px;
        width: 100%;
    }
    footer .container {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center
    }
    .slick-dots {
        bottom: -30px;

    }
}

@media screen and (max-width:500px) {
    #landing{
        min-height: unset;
    }
    .landing-title {
        padding-top: 0px;
        font-size: 34px;
        line-height: 34px;
        text-align: left;
        width: 100%;
        color: #fff;
        max-width: unset;
    }
    .landing-logosmall {

        left: 25px;
        top: 5px;
    }
    .landing-description {
        /* font-weight: 500; */
        font-size: 19px;
        margin-top: 20px;
        z-index: 2;
    }
    .landing-form {
        margin-top: 20px;
    }
    .landing-form__input {
        height: 50px;
    }
    .landing-form__submit {
        height: 45px;
    }
    #tools {
        padding: 0px 0;
    }
    .tools-card {
        box-shadow:none;
        padding: 0px;
    }
    .tools-card__article--img {
        min-width: 260px;
    }
}

/* ***********MENTIONS LEGALES************ */
.head-bloc {
    padding: 120px 0 20px;
    background: #fff;
    position: fixed;
    width: 100%;
    box-shadow: 1px 2px 3px rgb(50, 50, 50, 0.1);

}

.ml-content .landing-logo {
    position: fixed;
}

.ml-content p {
    font-size: 16px;
    line-height: 20px;
}

.ml-content .container {
    max-width: 850px;
    margin: 0 auto;
    text-align: left;
}

.ml-content .ml-bloc {
    padding: 200px 0 0;
    width: 100%;
    margin-bottom: 75px;
}

@media screen and (max-width: 978px) {
    .ml-content .landing-logo {
        position: fixed;
        display: block;
    }

    .ml-content .ml-bloc {
        padding: 240px 0 0;
    }
}

.none{
    display: none !important;
}


/***** Ajustement ******/

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-none {
    box-shadow: none !important;
}

.w-25 {
    width: 25% !important;
}

.w-50 {
    width: 50% !important;
}

.w-75 {
    width: 75% !important;
}

.w-100 {
    width: 100% !important;
}

.w-auto {
    width: auto !important;
}

.h-25 {
    height: 25% !important;
}

.h-50 {
    height: 50% !important;
}

.h-75 {
    height: 75% !important;
}

.h-100 {
    height: 100% !important;
}

.h-auto {
    height: auto !important;
}

.mw-100 {
    max-width: 100% !important;
}

.mh-100 {
    max-height: 100% !important;
}

.m-0 {
    margin: 0 !important;
}

.mt-0,
.my-0 {
    margin-top: 0 !important;
}

.mr-0,
.mx-0 {
    margin-right: 0 !important;
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
    margin-left: 0 !important;
}

.m-1 {
    margin: 0.25rem !important;
}

.mt-1,
.my-1 {
    margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
    margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
    margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
    margin-left: 0.25rem !important;
}

.m-2 {
    margin: 0.5rem !important;
}

.mt-2,
.my-2 {
    margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
    margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
    margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
    margin-left: 0.5rem !important;
}

.m-3 {
    margin: 1rem !important;
}

.mt-3,
.my-3 {
    margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
    margin-right: 1rem !important;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
    margin-left: 1rem !important;
}

.m-4 {
    margin: 1.5rem !important;
}

.mt-4,
.my-4 {
    margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
    margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
    margin-left: 1.5rem !important;
}

.m-5 {
    margin: 3rem !important;
}

.mt-5,
.my-5 {
    margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
    margin-right: 3rem !important;
}

.mb-5,
.my-5 {
    margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
    margin-left: 3rem !important;
}

.p-0 {
    padding: 0 !important;
}

.pt-0,
.py-0 {
    padding-top: 0 !important;
}

.pr-0,
.px-0 {
    padding-right: 0 !important;
}

.pb-0,
.py-0 {
    padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
    padding-left: 0 !important;
}

.p-1 {
    padding: 0.25rem !important;
}

.pt-1,
.py-1 {
    padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
    padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
    padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
    padding-left: 0.25rem !important;
}

.p-2 {
    padding: 0.5rem !important;
}

.pt-2,
.py-2 {
    padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
    padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
    padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
    padding-left: 0.5rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.pt-3,
.py-3 {
    padding-top: 1rem !important;
}

.pr-3,
.px-3 {
    padding-right: 1rem !important;
}

.pb-3,
.py-3 {
    padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
    padding-left: 1rem !important;
}

.p-4 {
    padding: 1.5rem !important;
}

.pt-4,
.py-4 {
    padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
    padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
    padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
    padding-left: 1.5rem !important;
}

.p-5 {
    padding: 3rem !important;
}

.pt-5,
.py-5 {
    padding-top: 3rem !important;
}

.pr-5,
.px-5 {
    padding-right: 3rem !important;
}

.pb-5,
.py-5 {
    padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
    padding-left: 3rem !important;
}

.m-auto {
    margin: auto !important;
}

.mt-auto,
.my-auto {
    margin-top: auto !important;
}

.mr-auto,
.mx-auto {
    margin-right: auto !important;
}

.mb-auto,
.my-auto {
    margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

/******************/
.nuagetop{
    stroke-dasharray: 196;
    stroke-dashoffset: -196;
}
.nuagebottom{
    stroke-dasharray: 244;
    stroke-dashoffset: -244;
}

.arc{
    stroke-dasharray: 42;
    stroke-dashoffset: -42;
}
.pictoborder{
    stroke-dasharray: 351;
    stroke-dashoffset: -351;
}
.deux{
    stroke-dasharray: 155;
    stroke-dashoffset: -155;
}
.strokeman{
    stroke-dasharray: 212;
    stroke-dashoffset: -212;
}
.arcman{
    stroke-dasharray: 16;
    stroke-dashoffset: -16;
}
.cravate{
    stroke-dasharray: 82;
    stroke-dashoffset: -82;
}
@media screen and (min-width: 768px){

    .landing-form__submit:hover{
        background: transparent;
        border: 2px solid #E30D73 ;
        color: #E30D73;
    }
}


/* *******AOS Anime SPEED */
[data-aos][data-aos][data-aos-duration="400"],
body[data-aos-duration="400"] [data-aos] {
    transition-duration: 1.5s;
}
/****************************************/

