
    
    
    
    
footer 
    // background-image: linear-gradient(to left, #e32749, #e30d73)
    background: #cecece
    padding: 27px 0 37px
    border: 1px solid

footer .container 
    display: flex
    justify-content: space-between

footer ul 
    margin: 0
    padding: 0
    list-style: none

footer .footer-info li
    margin: 14px 0;

footer .footer-info li:first-child
    margin: 0 0 15px

footer .footer-info li:last-child
    margin: 15px 0 0 


footer ul li a 
    color: #fff
    text-decoration: none
    font-size: 14px


footer a:hover 
    color: #fff
    text-decoration: underline

.footer-icons
    width: 200px
    display: flex
    justify-content: space-around
    align-items: flex-end
    padding: 10px
    
.footer-icons img 
    width: 20px

footer p 
    margin-bottom: 0
    color: #fff
    font-size: 12px
